*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    
   
    
}

html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font: $text-regular;
    background-color: $dark-bg;
}


img{
    width: 100%;

}


h1{
    font: $h1;
}

h2{
    font: $h2;
}


@media (max-width: 760px){

    h1{
        font: $h1-mobile;
    }

    h2{
        font: $h2-mobile;
    }

    
}