$blue-primary: #38B6FF;
$blue-secondary: #05A3FF;
$yellow-primary: #FFDE59;
$dark-bg: #00131E;

$gray-4: #D1D1D1;
$gray-3: #97989B;
$dark: #161616;

$font-text: "Inter", sans-serif;
$text-regular: 400 1rem/150% $font-text;
$text-sm: 400 0.875rem/150% $font-text;

$font-header: "IBM Plex Sans", sans-serif;
$h1: 700 3.25rem/150% $font-header;
$h2: 500 2rem/110% $font-header;
$h4: 700 1.375rem/150% $font-header;

$btn-font: 700 1rem/150% $font-header;